# directories in config
config/Empathy/
config/QtProject.conf
config/Trolltech.conf
config/autostart/
config/brasero/
config/calibre/
config/chromium/
config/dconf/
config/enchant/
config/eog/
config/evince/
config/evolution/
config/filezilla/
config/freerdp/
config/gconf/
config/gedit/
config/gnome-boxes/
config/gnome-control-center/
config/gnome-initial-setup-done
config/gtk-2.0/
config/gtk-3.0/
config/hexchat/
config/htop/
config/http-prompt/
config/ibus/
config/keepassx/
config/libreoffice/
config/libvirt/
config/menus/
config/mimeapps.list
config/mps-youtube/
config/nautilus/
config/pudb/
config/pulse/
config/remmina/
config/rygel.conf
config/sealert.conf
config/sqlitebrowser/
config/teamviewer/
config/thefuck/
config/totem/
config/transmission/
config/user-dirs.dirs
config/user-dirs.locale
config/vlc/
config/yelp/
config/ReText project/
config/VirtualBox/
config/dleyna-server-service.conf
config/gnote/
config/monitors.xml
config/monitors.xml~
config/Code/Backups
config/Code/Cache
config/Code/CacheData
config/Code/GPUCache
config/Code/Local Storage
config/Code/*.sock
config/compiz-1/
config/goa-1.0/
config/libaccounts-glib/
config/nvim/autoload/
config/nvim/plugged/
config/nvim/yankring_history_v2.txt
config/spotify/
config/unity/